body{
    margin:0;
    padding:0;
background-image: url("pic2.jpg");
background-size: cover;
font-family: sans-serif;
color: rgb(24, 228, 17);
}
.login-form{
    background-color: rgba(10, 10, 10, 0.5);
    width:380px;
    height:350px;
    margin:0;
    padding:35px;
    position: absolute;
    top:50%;
    left:50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
}
h1{
    margin: 0;
    padding: 0;
    font-weight: bold ;
    text-align: center;
}
p{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
input{
    width:100%;
    margin-bottom: 20px;
}
.login-form input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    font-size: 18px;
    color: black;
}
.login-form input[type="button"]
{
    border: none;
    outline: none;
    height: 40px";
    background- color #0000ff;
    color:rgb(12, 243, 24);
    font-size: 18px;
    border-radius: 20px;
}
.login-form input[type="button"]:hover
{
background-color: #000;
color:tomato;
cursor: pointer;
}
.login-form a{
    text-decoration:none;
    color:#fff;
    font-size: 18px;
}
.login-form img{
    width: 70px;
    height: 70px;
    position: absolute;
    top: -50px;
    left:calc(90% -90px);
}